* {
  box-sizing: border-box;
}

:root {
  --black: #222;
  --white: #ddd;
  --green: #77b255;
}

html {
  line-height: 1.2;
  font-family: 'Source Code Pro', monospace;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  justify-content: center;
  margin: 3rem;
  color: var(--white);
  background-color: var(--black);
}

p, h1 {
  margin: 0;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

input {
  padding: .25rem;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1rem;
  font-family: inherit;
  text-align: center;
  color: var(--black);
  background-color: var(--white);
  border: none;
}

input:focus {
  outline: .25rem solid var(--green);
}

input::selection {
  background-color: var(--green);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}
